/* FONTS
    font-family: 'Poppins', sans-serif;
*/
/* COLORS
    Dark Green - #0B2E23
    Green - #115542
    Neon - #D0FC4A
*/

@media only screen and (min-width: 350px) {
    .nav-body {
        height: 100%;
        width: 100vw;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;
    }

    .nav-icon {
        font-size: 2em;
    }

    .nav-top {
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }

    .nav-top img {
        width: 30vw;
    }

    .nav-links {
        display: grid;
        grid-template-columns: 1fr;
        padding: 1em;
        margin-top: 10vh;
    }

    .nav-link {
        font-size: 2em;
        font-weight: 200;
        text-decoration: none;
        padding: 0;
        margin: 0;
        width: fit-content;
    }

    .copy {
        font-size: 0.8em;
        font-weight: 300;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1em;
        text-align: center;
    }
    .nav-link-icon {
        font-size: 2em;
    }
    .nav-link-opts {
        padding: 0.8em 0.4em;
        transition: 500ms;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    .nav-link-opt {
        text-decoration: none;
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 600px) {
    .nav-body img {
        width: 18vw;
    }

    .nav-icon {
        font-size: 1.6em;
    }

    .nav-links {
        margin-top: 18vh;
    }

    .nav-link {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 800px) {
    .nav-body img {
        width: 15vw;
    }

    .nav-links {
        margin-top: 16vh;
    }
}

@media only screen and (min-width: 1000px) {
    .nav-body img {
        width: 13vw;
    }
}

@media only screen and (min-width: 1200px) {
    .nav-body img {
        width: 8vw;
    }

    .nav-links {
        margin-top: 16vh;
    }
}