/* FONTS
    font-family: 'Roboto', sans-serif;
*/
/* COLORS
    Light Blue - 57b4ee
    Blue - 5783d6
    Yellow - F4E04D
    Lighter Blue - 54F2F2
    Dark - #0A0A0A
    Light - #FEFEFE
*/

@media only screen and (min-width: 350px) {
    .admin-body h1 {
        letter-spacing: -1px;
    }

    .admin-new-btn {
        font-size: 2.2em;
    }

    .admin-switch {
        padding: 0.5em;
        border-radius: 30px;
        width: fit-content;
    }

    .admin-switch button {
        padding: 0.8em;
        border-radius: 30px;
        min-width: 125px;
        font-size: 1em;
    }


    /* PRODUCT */
    .admin-prod-wrap {}

    .admin-prod-wrap h1 {
        font-size: 1.4em;
    }

    .admin-new-prod-btn {
        padding: 1em;
        border-radius: 10px;
    }

    .new-prod-wrap {
        position: fixed;
        top: 0;
        right: 0;
        overflow-y: scroll;
        height: 100vh;
        width: 100%;
    }

    .new-prod-wrap h1 {
        font-size: 1.4em;
        letter-spacing: -1px;
        line-height: 1em;
    }

    .new-prod-close {
        font-size: 1.8em;
    }

    .new-prod-form {
        padding: 1em 0;
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;
    }

    .prod-form-pair {
        display: flex;
        flex-direction: column;
        gap: 0.2em;
    }

    .prod-form-pair label {
        font-size: 1em;
    }

    .prod-form-tb {
        display: block;
        padding: 0.8em;
        font-size: 1em;
        width: 100%;
    }

    .new-prod-split {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    .prod-form-ta {
        min-height: 100px;
        padding: 0.8em;
        font-size: 1em;
        width: 100%;
    }

    .prod-btn {
        padding: 1em;
        border-radius: 5px;
    }

    .new-prod-img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .admin-prods {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0.8em;
        gap: 0.6em;
    }

    .admin-prod {
        padding: 0.8em;
        border-radius: 6px;
        display: block;
    }

    .admin-prod h1 {
        font-size: 1em;
        font-weight: 400;
        padding: 0.5em 0;
        letter-spacing: normal;
        line-height: 1em;
    }

    .admin-prods img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 75vw;
        border-radius: 6px;
    }

    .admin-prod-price {
        letter-spacing: -1px;
    }

    .admin-prod-qty {
        font-weight: 400;
    }
    .categ-btns {
        display: flex;
        gap: 0.5em;
        width: 100%;
        overflow-x: scroll;
        padding: 1em;
    }
    .categ-btns button {
        padding: 1em;
        border-radius: 30px;
        white-space: nowrap;
    }
}

@media only screen and (min-width: 600px) { 
    .admin-prods {
        grid-template-columns: 1fr 1fr;
    }
    .admin-prod img {
        height: 40vw;
    }
    .admin-switch button {
        padding: 0.6em;
        border-radius: 30px;
    }
    .new-prod-close {
        font-size: 2.2em;
    }
    .new-prod-wrap {
        width: 375px;
        right: 0;
    }
}

@media only screen and (min-width: 800px) {
    .admin-prods {
        grid-template-columns: repeat(3, 1fr);
    }
    .admin-prods img {
        height: 25vw;
    }
}

@media only screen and (min-width: 1000px) {
    .admin-prods {
        grid-template-columns: repeat(4, 1fr);
    }
    .admin-prods img {
        height: 20vw;
    }
}

@media only screen and (min-width: 1200px) {
    .admin-prods {
        grid-template-columns: repeat(5, 1fr);
    }
    .admin-prods img {
        height: 16vw;
    }
}