/* FONTS
    font-family: 'Roboto', sans-serif;
*/
/* COLORS
    Light Blue - 57b4ee
    Blue - 5783d6
    Yellow - F4E04D
    Lighter Blue - 54F2F2
    Dark - #0A0A0A
    Light - #FEFEFE
*/

@media only screen and (min-width: 350px) {
    .schedule {
        padding: 1em;
    }

    .schedule-pick-date {
        padding: 0.8em;
        font-family: 'Roboto', sans-serif;
    }
    .schedule-pick {
        font-size: 1.2em;
        padding: 0.5em 0;
        letter-spacing: -1px;
    }
    .schedule-pick-dd {
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 0.8em;
    }
    .schedule-pick-btn {
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 1em;
        width: 200px;
        margin: 1em 0;
    }
    .schedule-right {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0.4em;
    }
    .schedule-slot button {
        -webkit-appearance: none;
        -moz-appearance: none;
        font-family: 'Roboto', sans-serif;
        font-size: 1.1em;
        padding: 1em; 
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 800px) {
    .schedule-wrap {
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: 1em;
    }
    .schedule-slot button {
        font-size: 1em;
        padding: 1em; 
    }
}

@media only screen and (min-width: 1000px) {}

@media only screen and (min-width: 1200px) {}