@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
}

.main {
  background-color: #FEFEFE;
  min-height: 100vh;
  width: 100vw;
  color: #0A0A0A;
}

.flex {
  display: flex;
  align-items: center;
}

.together {
  display: flex;
  justify-content: space-around;
}

.separate {
  display: flex;
  justify-content: space-between;
}

.spread-evenly {
  display: flex;
  justify-content: space-evenly;
}

.break {
  height: 1em;
}

/* COLORS */

.color1 {
  color: #0A0A0A
}

.color2 {
  color: #FEFEFE;
}

.color3 {
  color: #F4E04D;
}

.bg1 {
  background-color: #0A0A0A;
}

.bg2 {
  background-color: #FEFEFE;
}

.bg3 {
  background-color: #F4E04D;
}

.no-bg {
  background-color: rgba(0,0,0,0);
}

.dark {
  color: #0A0A0A;
}

.light {
  color: #FEFEFE;
}

.font1 {
  font-family: 'Poppins', sans-serif;
}

.font2 {}

.font3 {}

/*  */

.border1 {
  border: 1px solid #FEFEFE;
}
.border2 {
  border: 1px solid #0a0a0a;
}
.no-border {
  border: 0;
}

@media only screen and (min-width: 350px) {
  .top {
    padding: 1em;
    display: flex;
    justify-content: space-between;
  }

  .top img {
    width: 18vw;
  }

  .top-icon {
    font-size: 2em;
  }
}

@media only screen and (min-width: 600px) {
  .top img {
    width: 10vw;
  }

  .top-icon {
    font-size: 1.8em;
  }
}

@media only screen and (min-width: 800px) {
  .top img {
    width: 7vw;
  }

  .top-icon {
    font-size: 1.6em;
  }
}

@media only screen and (min-width: 1000px) {
  .top img {
    width: 6vw;
  }

  .top-icon {
    font-size: 1.8em;
  }
}

@media only screen and (min-width: 1200px) {
  .top img {
    width: 5vw;
  }

  .top-icon {
    font-size: 2em;
  }
}