@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

// VARIABLES
$padding: 1em;

// 
@mixin flex($align: initial) {
    display: flex;
    justify-content: $align; // Updated property from align-content to justify-content
}

@mixin light($back: #ffffff, $color: #000000) {
    background-color: $back;
    color: $color;
}

@mixin dark($back: #1c1c1c, $color: #e6e5e5) {
    background-color: $back;
    color: $color;
}

@mixin grid($grid-template: column, $count: 1) {
    display: grid;
    grid-template-columns: repeat($count, 1fr);
}

// CONSTANTS
.remove-app {
    -webkit-appearance: none;
    -moz-appearance: none;
    // border: 0;
    // background-color: rgba(0, 0, 0, 0);
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.no-border {
    border: 0;
}

.no-bg {
    background-color: rgba(0, 0, 0, 0);
}

.all-caps {
    text-transform: uppercase;
}

.light {
    @include light();
}

.dark {
    @include dark();
}

// #region LAYOUT
.auto {
    width: 100%;
    height: 100%;
}

.padding {
    padding: $padding;
}

.horizontal {
    @include flex;
}

.vertical {
    @include flex;
    flex-direction: column;
}

.separate {
    @include flex($align: space-between);
}

.align-top {
    @include flex($align: flex-start)
}

.align-bottom {
    @include flex($align: flex-end)
}
.h-space-around {
    align-content: space-around;
}
.v-space-around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.gap {
    gap: 1em;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%
}

.center {
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.h-center {
    align-items: center;
}

.v-separate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fit-height {
    height: fit-content;
}

.fit-weight {
    width: fit-content;
}

.grid-c-1 {
    @include grid(column, 1)
}

.grid-c-2 {
    @include grid(column, 2)
}

.grid-c-3 {
    @include grid(column, 3)
}

.grid-c-4 {
    @include grid(column, 4)
}

.grid-c-5 {
    @include grid(column, 5)
}

.grid-c-6 {
    @include grid(column, 6)
}

.grid-r-1 {
    @include grid(row, 1)
}

.grid-r-2 {
    @include grid(row, 2)
}

.grid-r-3 {
    @include grid(row, 3)
}

.grid-r-4 {
    @include grid(row, 4)
}

.grid-r-5 {
    @include grid(row, 5)
}

.grid-r-6 {
    @include grid(row, 6)
}

.fill {
    object-fit: cover;
}

.fit {
    object-fit: contain;
}

.image-top {
    object-position: top;
}

.image-center {
    object-position: center;
}

.image-bottom {
    object-position: bottom;
}

// #endregion
// #region FONTS
.roboto {
    font-family: 'Roboto', sans-serif;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.roboto-cond {
    font-family: 'Roboto Condensed', sans-serif;
}

.rubik {
    font-family: 'Rubik', sans-serif;
}

// #endregion
// #region MISC

// #endregion

@media only screen and (min-width: 350px) {}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 800px) {}

@media only screen and (min-width: 1000px) {}

@media only screen and (min-width: 1200px) {}